.customScroll::-webkit-scrollbar {
  width: 7px; /* Adjust the width as needed */
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #5DA9E9; /* Change the color as needed */
  border-radius: 5px; /* Optional: Add border-radius */
}
body::-webkit-scrollbar{
  display: none;
}
.customScroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change the track color as needed */
}

.csScroll::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 1012px) {
  .customScroll::-webkit-scrollbar{
    display: none;
  }
}

.cstScroll::-webkit-scrollbar{
  display: none;
}